/*@media (max-width:660px) {
body{
        background: url("/img/pizarra.jpg") no-repeat;
        justify-content: center;
 }
 
#box-controles{
    display:block;
}
#box-canva{
    display: flex;
}
#box-agregar-palabra{
    display: block;
}
#myImg2{
    display: none;
}

/*letras*/
/*
#inicio{
    display: inline-block;
}
h1{
    font-family: monospace;
    border-radius: 2.5px solid green;
    animation: cursor .5s infinite,
    inicio 3.5s steps(30,end);
    white-space:nowrap;
    overflow: hidden;
    color: #f1f0e8;
}
p{
    font-family: monospace;
    border-radius: 2.5px solid green;
    animation: cursor .5s infinite,
    inicio 3.5s steps(50,end);
    white-space:nowrap;
    overflow: hidden;  
    color: #f1f0e8; 
}

@keyframes cursor{
0% { border-color: transparent;}
50%{border-color: green;}

}

@keyframes inicio{
    from{width: 0 }
to{width: 100%}
}


footer{
    background-color: black ;
}
}
*/