
body{
    background: url("/img/pizarra.jpg") no-repeat;
}



body{
    background: url("/img/pizarra.jpg") no-repeat;
    justify-content: center;
}
/*
#box-juego{
display: flex;
}*/


.juego{
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 100px;
}
#btn-nueva-palabra{
    display: inline-block;
}
#box-controles{
    display: flex;
}
#myImg2{
   display: none;
   height: 300px;
}
#box-agregar-palabra{
    display: flex;
}
p{
    color: #f1f0e8; 
}

#pizarra{
    display: flex;
}


