
@media screen and (min-width:1024px) {

body{
    background: url("https://static.vecteezy.com/system/resources/previews/004/703/663/non_2x/black-background-blackboard-grunge-texture-chalkboard-background-chalk-board-chalk-rubbed-out-on-blackboard-texture-for-add-text-or-graphic-design-education-concept-free-photo.jpg") no-repeat ;
    justify-content: center;
}
/*
#box-juego{
display: flex;
}*/

.juego{
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 100px;
}
#btn-nueva-palabra{
    display: inline-block;
}
#box-controles{
    display: flex;
}
#box-agregar-palabra{
    display: flex;
}
p{
    color: #f1f0e8; 
}

#myImg2{
    visibility: hidden;
    
    height: 300px;
}

#teclResponsive{
    visibility: hidden;
}

#pizarra{
    display: flex;
}

}